table,
th,
td {
  border: 1px solid;
  border-color: #eeede7;
  padding: 10px;
}

table {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  table-layout: fixed;
  width: 85%;
}

td {
  width: 25%;
}

.container {
  color: white;
  margin-left: auto;
  margin-right: auto;
}
.COMP3278 {
  background-color: #02c2c7;
  border-color: #02c2c7;
  font-size: 10px;
  text-align: center;
  color: white;
}

.COMP3230 {
  background-color: #addfde;
  border-color: #addfde;
  font-size: 10px;
  text-align: center;
  color: white;
}

.COMP3322 {
  background-color: #09647a;
  border-color: #09647a;
  font-size: 10px;
  text-align: center;
  color: white;
}

.CCCH9047 {
  background-color: #1f375d;
  font-size: 10px;
  text-align: center;
  color: white;
  border-style: solid;
  border-color: #1f375d;
}

.COMP3297 {
  background-color: #0c4c8a;
  border-color: #0c4c8a;
  font-size: 10px;
  text-align: center;
  color: white;
}

.COMP3270 {
  background-color: #97d5e0;
  border-color: #97d5e0;
  font-size: 10px;
  text-align: center;
  color: white;
}

.CCHU9060 {
  background-color: #d9e2e9;
  border-color: #d9e2e9;
  font-size: 10px;
  text-align: center;
  color: white;
}

.STAT3600 {
  background-color: aquamarine;
  border-color: aquamarine;
  font-size: 10px;
  text-align: center;
  color: white;
}
